# ======================
# Application
# ======================

APP_NAME=TrackIT Backend
DEBUG=False
LOG_LEVEL=INFO
ENVIRONMENT=development

# ======================
# LLM
# ======================

GOOGLE_AI_API_KEY=
GROQ_API_KEY=
OPENROUTER_API_KEY=

# ======================
# Database
# ======================

DATABASE_URL=

# ======================
# Browser
# ======================

HEADLESS=True